/**
 * MOD CSS
 * Author: LMD-Code
 * See: https://github.com/lmd-code/modcss/
 * Copyright: CC0-1.0
 * 
 * Edit variables or overwrite them in your own CSS file.
 */
 :root {
	--modcss-font-serif: Cambria, Times, "Times New Roman", serif;
	--modcss-font-sans-serif: Segoe, 'Segoe UI', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif; 
	--modcss-font-monospace: Consolas, monaco, 'Courier New', monospace;
	--modcss-font-size: 16px;
	--modcss-font-weight: 400;
	--modcss-margins: 1rem 0;
	--modcss-borders: 1px solid #a0a0a0;
	--modcss-focus-outline: 2px dotted #202020;
	--modcss-button: #d0d0d0;
	--modcss-button-hover: #e0e0e0;
	--modcss-button-active: #b0b0b0;
	--modcss-text-dark: #000000;
	--modcss-text-medium: #606060;
	--modcss-text-light: #ffffff;
	--modcss-bg-dark: #404040;
	--modcss-bg-medium: #e3e3e3;
	--modcss-bg-light: #ffffff;
}

html,
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	overflow-wrap: break-word;
	line-height: 1.625;
	font-size: var(--modcss-font-size);
	font-size-adjust: 0.5;
	font-weight: var(--modcss-font-weight);
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
body {
	margin: 0;
	padding: 0;
	background: var(--modcss-bg-light);
	color: var(--modcss-text-dark);
	font-family: var(--modcss-font-serif);
	font-size: 1rem;
}
@media screen and (min-width: 900px) {
	body {
		font-size: 1.125rem;
	}
}

header,
footer,
main,
article,
aside,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
address {
	margin: var(--modcss-margins);
	padding: 0;
}

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
address:last-child {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	font-family: var(--modcss-font-sans-serif);
	font-weight: 500;
}
h1 {
	font-size: 2em; 
	line-height: 1;
}
h2 {
	font-size: 1.8em;
	line-height: 1.05;
}
h3 {
	font-size: 1.6em;
	line-height: 1.1;
}
h4 {
	font-size: 1.4em;
	line-height: 1.15;
}
h5 {
	font-size: 1.2em;
	line-height: 1.2;
}
h6 {
	font-size: 1em;
	line-height: 1.25;
}

ul,
ol {
	list-style-position: outside;
}
dt {
	font-weight: 500;
}
li,
dd {
	margin: 0 0 0.5rem 2rem;
}
li:last-child,
dt:last-child,
dd:last-child {margin-bottom: 0;}
li ul,
li ol,
li dl,
dd ul,
dd ol,
dd dl {
	margin: 0;
}

blockquote {
	margin-left: 3rem;
	margin-right: 3rem;
}
blockquote > :last-child {margin-bottom: 0;}

table {
    margin: var(--modcss-margins);
    border: var(--modcss-borders);
    border-collapse: collapse;
    padding: 0;
}
caption {
	font-style: normal;
}
th,
td {
    border: var(--modcss-borders);
    padding: 0.25rem 0.5rem;
}
th {
    font-weight: bold;
}

pre {
	border: var(--modcss-borders);
	border-radius: 0.125rem;
	padding: 1em;
	background-color: var(--modcss-bg-dark);
	color: var(--modcss-text-light);
	font-family: var(--modcss-font-monospace);
	font-weight: var(--modcss-font-weight);
	tab-size: 4;
	line-height: 1.2;
	overflow-x: auto;
}

hr {
	height: 1px;
	border: 0;
	margin: 1.5rem 0;
	line-height: 0;
	background-color: var(--modcss-bg-dark);
}

/** INLINE **/

kbd,
samp,
var,
code,
tt {
	font-family: var(--modcss-font-monospace);
}

b,
strong {
	font-weight: 600;
}

i,
em,
cite {
	font-style: italic;
}

/** IMAGES **/

img {
	border: none;
}

figure {
	display: block;
	margin: var(--modcss-margins);
	padding: 0;
}
figcaption {
	display: block;
	font-style: normal;
}
figure image {
	display: block;
}

/** FORMS **/

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0 0 1rem 0;
	border: var(--modcss-borders);
	border-radius: 0.125rem;
	padding: 1em;
}
fieldset :last-child {margin-bottom: 0;}

legend {
	padding: 0 0.25em;
	font-weight: 500;
}

/* <input> / <button> */
input,
button {
	margin: 0;
	font-family: inherit;
	font-size: 1em;
	font-weight: var(--modcss-font-weight);
	vertical-align: baseline;
	text-transform: none;
	overflow: visible;
}

input:focus,
textarea:focus {
	outline: var(--modcss-focus-outline);
	outline-offset: -2px;
}

/* Text inputs */
[type=date],
[type=datetime-local],
[type=month],
[type=week],
[type=time],
[type=email],
[type=url],
[type=tel],
[type=number],
[type=password],
[type=search],
[type=text] {
	border: var(--modcss-borders);
	border-radius: 0.125rem;
	padding: 0.25em 0.5em;
}
::-webkit-datetime-edit-fields-wrapper,
::-webkit-calendar-picker-indicator {
	/* Make the height of the input the same as other inputs in Chrome/Edge */
	padding: 0;
	padding-inline: 0;
}

/* Checkbox / Radio inputs */
[type=checkbox],
[type=radio] {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: var(--modcss-borders);
	line-height: 1;
	vertical-align: middle;
	cursor: pointer;
}

/* Color picker */
[type=color] {
	width: 1.5em;
	height: 1.5em;
	border: var(--modcss-borders);
	border-radius: 0.125rem;
	padding-block: 0;
	padding-inline: 0;
	padding: 0.125em;
	background-color: var(--modcss-bg-light); 
	vertical-align: middle;
	cursor: pointer;
}
::-webkit-color-swatch-wrapper {
	padding: 0; /* Decrease inner padding in Chrome/Edge */
}

/* File Selector */
[type=file] {
	cursor: pointer;
}
::file-selector-button,
::-webkit-file-upload-button {
	/* Make the button look like other buttons */
	border: var(--modcss-borders);
	border-radius: 0.125rem;
	padding: 0.25em 0.5em;
	background-color: var(--modcss-button);
	color: var(--modcss-text-dark);
	font-family: var(--modcss-font-sans-serif);
	font-size: 1em;
	font-weight: var(--modcss-font-weight);
	cursor: pointer;
}
::file-selector-button:hover,
::-webkit-file-upload-button:hover {
	background-color: var(--modcss-button-hover);
}
::file-selector-button:active,
::-webkit-file-upload-button:active {
	background-color: var(--modcss-button-active);
}

/* Image (Button) */
[type=image] {
	border: none;
	padding: 0;
	vertical-align: middle;
	transition: all .2s ease-in-out;
}
[type=image]:hover {
	transform: scale(1.05);
}
[type=image]:not(:disabled):active {
	transform: scale(0.95);
}

/* Range */
[type=range] {
	vertical-align: middle;
}
[type=range]:disabled,
[type=range]:disabled:active,
[type=range]:disabled:hover,
[type=range]:disabled:focus {
	background-color: transparent;
}

/* <button> <input type=button|submit|reset> */
button,
[type=button],
[type=submit],
[type=reset] {
	-webkit-appearance: button;
	border: var(--modcss-borders);
	border-radius: 0.25rem;
	padding: 0.25em 0.5em;
	background-color: var(--modcss-button);
	color: var(--modcss-text-dark);
	cursor: pointer;
	transition: all .2s ease-in-out;
}
button:hover,
[type=button]:hover,
[type=submit]:hover,
[type=reset]:hover {
	background-color: var(--modcss-button-hover);
}
button:focus,
[type=button]:focus,
[type=submit]:focus,
[type=reset]:focus {
	background-color: var(--modcss-button-hover);
	outline: var(--modcss-focus-outline);
	outline-offset: -2px;
}
button:not(:disabled):active,
[type=button]:not(:disabled):active,
[type=submit]:not(:disabled):active,
[type=reset]:not(:disabled):active {
	transform: scale(0.95);
	background-color: var(--modcss-button-active);
}

/* <meter> <progress> */
meter:not(.form-fallback),
progress {
	border: var(--modcss-borders);
}
::-webkit-progress-bar,
::-webkit-meter-bar {
	background: var(--modcss-bg-light);
}
::-webkit-meter-bar {
	border: var(--modcss-borders);
}
::-webkit-progress-value {
	background-color: var(--modcss-button-active);
}

/* <textarea> */
textarea {
	max-width: 100%;
	margin: 0;
	border: var(--modcss-borders);
	border-radius: 0.125rem;
	padding: 0.25em 0.5em;
	font-family: inherit;
	font-size: 1em;
	font-weight: var(--modcss-font-weight);
	resize: vertical;
}

/* <select> */
select {
	margin: 0;
	border: var(--modcss-borders);
	padding-block: 0;
	font-family: inherit;
	font-size: 1em;
	font-weight: var(--modcss-font-weight);
	background: var(--modcss-bg-light);
}
select:focus-visible,
select:focus-within {
	outline: var(--modcss-focus-outline);
	outline-offset: -2px;
}
select:not([multiple]) {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
option {
	font: inherit;
}
option:disabled {
	font-style: italic;
	color: var(--modcss-text-medium);
}
select > option,
datalist > option {
	padding: 0.25em 0.5em;
}
optgroup[label] {
	font-style: normal;
	font-weight: 700;
}
optgroup[label]::before {
	padding-left: 0.25em;
}
optgroup > option {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-right: 0.5em;
	font-weight: normal;
	font-style: normal;
}

:disabled,
:disabled:active,
:disabled:hover,
:disabled:focus {
	outline: none;
	background-color: var(--modcss-bg-medium);
	color: var(--modcss-text-medium);
	font-style: italic;
	opacity: 0.8;
	cursor: not-allowed;
}